<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--/*@thymesVar id="waitingList" type="io.innoq.WaitingList"*/-->
<h1 th:text="|Warteliste für ${waitingList.name}|"></h1>

<p th:text="|${waitingList.waitingNumbers.size} Personen warten|"></p>

<form th:action="|/${waitingList.slug}|" method="post">
    <button type="submit">Einreihen</button>
</form>

</body>
</html>
