<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meine Wartenummer</title>
</head>
<body>

<!--/*@thymesVar id="waitingList" type="io.innoq.WaitingList"*/-->
<!--/*@thymesVar id="slot" type="io.innoq.WaitingSlot"*/-->
<h1 th:text="|Meine Wartenummer für ${waitingList.name}|"></h1>

<!-- TODO: wieviele sind vor mir -->
<p th:text="|Meine Wartenummer: ${slot.number}|"></p>

</body>
</html>
