<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wartenlistendetails</title>
</head>
<body>
    <!--/*@thymesVar id="waitingList" type="io.innoq.WaitingList"*/-->
    <p th:text="|${waitingList.waitingNumbers.size} Personen warten|"></p>

    <h2>Aktueller Kunde</h2>
    <p th:text="|${waitingList.currentSlot().number}|"></p>
    <form th:action="|/admin/${waitingList.slug}/${waitingList.adminToken}/next|" method="post">
        <input type="submit" value="Bedient" />
    </form>

    <a th:href="|/admin/${waitingList.slug}/${waitingList.adminToken}|">
        Zurück
    </a>
</body>
</html>