<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wartenlistendetails</title>
</head>
<body>

<!--/*@thymesVar id="waitingList" type="io.innoq.WaitingList"*/-->
<h1 th:text="|Warteliste für ${waitingList.name}|"></h1>

<div th:unless="${waitingList.waitingNumbers.isEmpty()}">
    <p th:text="|${waitingList.waitingNumbers.size} Personen|"></p>
    <a th:href="|/admin/${waitingList.slug}/${waitingList.adminToken}/current|"></a>
</div>

<!-- TODO: find way to render absolute link in ktor/thymeleaf -->
<h2>Link für deine Kunden</h2>
<a th:href="|/${waitingList.slug}|" th:text="|/${waitingList.slug}|"></a>

<h2>Link für dich</h2>
<ul>
    <li><a th:href="|/admin/${waitingList.slug}/${waitingList.adminToken}|" th:text="|/admin/${waitingList.slug}/${waitingList.adminToken}|"></a></li>
    <li><a th:href="|/admin/${waitingList.slug}/${waitingList.adminToken}/print|">QR Code für deine Kunden</a></li>
    <li><a th:href="|/admin/${waitingList.slug}/${waitingList.adminToken}/current|">Warteliste aufrufen</a></li>
</ul>


</body>
</html>
