<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>waitsly</title>
</head>
<body>
<h1>Neue Warteliste</h1>
<form action="/admin/new" method="post">
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <div th:if="${error}" th:text="${error}"></div>
    <label>
        Name:
        <input type="text" name="name"/>
    </label>
    <input type="submit" value="Erstellen"/>
</form>
</body>
</html>
