<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ausdrucken</title>
</head>
<body>
    <!--/*@thymesVar id="waitingList" type="io.innoq.WaitingList"*/-->

    <h1>Wartenummer ziehen für [[${waitingList.name}]]</h1>
    <img th:src="|/admin/${waitingList.slug}/${waitingList.adminToken}/qrcode|" />
    <a th:href="|/${waitingList.slug}|" th:text="|/${waitingList.slug}|"></a>
</body>
</html>